.collection{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.new-collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 50px;
}